@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.hero-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
}

.hero-subheading {
  color: #333333;
  font-family: "Open-sans", sans-serif;
  font-weight: 400;
}

.hero-image {
  width: 1000px;
  padding: 3rem 0rem;
}

.btn-primary {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.btn-primary:hover {
  color: #f5f5f5;
  background-color: #2b2d42;
  opacity: 90%;
}
