.footer {
  margin: 0rem 25rem;
  margin-top: 30rem;
}

.footer-section {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* font-family: 'Open Sans', sans-serif; */
.nav-link {
  font-family: "Open Sans", sans-serif;
}

.newsletter-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.newsletter-desc {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}

.company-info {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
